<!doctype html>
<title>Settings</title>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="margin-bottom: 5px">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h1>Upload cookie file</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
{% if filenames %}
    <h3 style="margin-top: 30px; margin-bottom: 0px;">Accepted cookie files:</h3>
    <ul style="margin-top: 5px;">
        {% for filename in filenames %}
            <li>{{ filename }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h1>Set user agent</h1>
<form method=post style="margin-bottom: 20px">
    <input style="width: 300px" type=text name=user_agent value="{{ user_agent }}">
    <input type=submit value=Set>
</form>
Current user agent:<br>
<span>{{ user_agent_file }}</span>