<!doctype html>
<title>Settings</title>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="margin-bottom: 5px">
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h1>Upload cookie file</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<h1>Set user agent</h1>
<form method=post style="margin-bottom: 20px">
    <input style="width: 300px" type=text name=user_agent value="{{ user_agent }}">
    <input type=submit value=Set>
</form>
Current user agent:<br>
<span>{{ user_agent_file }}</span>
<h3 style="margin-top: 30px; margin-bottom: 0px;">Accepted cookie files:</h3>
<ul style="margin-top: 5px;">
    {% for tracker in cookie_trackers %}
        {% if tracker in cookie_files %}
            <li><b>{{ tracker }}.txt</b></li>
            <ul>
                {% for cookie_file in cookie_files[tracker] %}
                    <li>{{ cookie_file['name'] }}</li>
                    <ul>
                        <li>
                            expires: <b>{{ cookie_file['exp'] }}</b>
                        </li>
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <li>{{ tracker }}.txt</li>
        {% endif %}
    {% endfor %}
</ul>
<h3 style="margin-top: 30px; margin-bottom: 0px;">Accepted API keys:</h3>
<ul style="margin-top: 5px;">
    {% for tracker in api_trackers %}
        {% if tracker in api_keys %}
            <li><b>{{ tracker }}</b></li>
        {% else %}
            <li>{{ tracker }}</li>
        {% endif %}
    {% endfor %}
</ul>